@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  margin-right: 0%;
  margin-left: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  background-color: #1c1a19;
}

header {
  background: #3c3a39;
  margin: 0%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 40px;
}

header a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #fff;
  margin-left: 6%;
  align-self: flex-start;
  margin-top: auto;
  margin-bottom: auto;
}

.menu-icon {
  align-self: flex-end;
  margin-right: 6%;
  margin-bottom: auto;
  margin-top: auto;
}

.menu-icon img {
  width: 16px;
  height: 12px;
}

.menu-icon:hover,
button {
  cursor: pointer;
}

.desktop {
  display: none;
}

@media (min-width: 992px) and (max-width: 1100px) {
  #menu {
    display: none;
  }
  .menu-icon,
  .d-menu {
    display: flex;
    margin-left: 38px;
  }

  #mail {
    min-width: 22px;
    min-height: 18px;
  }
}

/*----------------Here is the presentation part----------*/

.hey {
  background-image: url("./Images/Illustration.png");
  background-position: 100% 115%;
  background-repeat: no-repeat;
  background-color: #1c1a19;
  padding: 0px 24px;
  padding-bottom: 130px;
}

h1 {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-size: 56px;
  font-weight: lighter;
  width: 327px;
  height: 124px;
  left: 24px;
  margin-top: 0px;
  padding-top: 120px ;
}

.hey h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #fff5e1;
}

.hey a p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  margin-bottom: 0%;
}

.Social-container {
  list-style-type: none;
  display: flex;
  width: 100px;
  padding-left: 0%;
  margin-left: 22px;
  margin-top: 0%;
}

.Social-container li {
  margin: 22px 22px 0px 0px;
}

@media (min-width: 992px) and (max-width: 1100px) {
  .hey {
    background-image: url("./Images/Illustration-header.png");
    background-position: 100%;
    background-size: 40%;
    padding-left: 0%;
  }

  .hey a p {
    max-width: 50%;
  }

  
  .Social-container {
   grid-column: 1;
   display: block;
  }

  .hey > * > *,
  .hey > * {
    margin-left: 6%;
  }

}
/*--------------HERE STARTS MY RECENT WORKS-------------------*/

.articles {
  display: grid;
  grid-template-columns: 24px auto 24px;
  background-color: #fff;
  padding-bottom: 120px;
  row-gap: 24px;
}

#first-hr {
  margin: 24px 24px;
  border: 1px solid #212121; 
}

.recent {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 0%;
  font-size: 40px;
  font-family: 'Crete Round', serif;
  font-weight: normal;
}

#Multi {
  font-family: 'Crete Round', serif;
  font-size: 32px;
}

.multi p {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: light;
}

.articles > * {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

.boxes {
  display: flex;
  list-style-type: none;
  padding-left: 0%;
}

.boxes li {
  margin-right: 12px;
  padding: 10px 12px 10px 12px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

.white > * {
  border: 1px solid #8993a4;
}

.black > * {
  color: white;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.24);
}

.repeated {
  background-image: url("./Images/Fondo_articles.png");
  max-width: 327px;
  height: 386px;
  margin-bottom: 24px;
}

.repeated h2,
.repeated p,
.repeated ul {
  margin-left: 16px;
}

.repeated h2 {
  color: white;
  font-family: 'Crete Round', serif;
  font-size: 32px;
  font-style: normal;
  font-weight: normal;
  margin-top: 84px
}

.repeated p {
  color: white;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin-right: 16px;
}

.button {
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  padding: 12px 12px;
  color: white;
  border: none;
  font-size: 17px;
}

#project1 {
  max-width: 124px;
}

@media (min-width: 992px) and (max-width: 1100px){
  #first-hr,
  .recent {
    grid-row: 1;
  }
  .recent {
    max-width: fit-content;
  }

  #first-hr {
    height: 1px;
    align-self: flex-end;
  }
}

/* ---------- Here is the about me page -------*/

.aboutme {
  background-image: url("./Images/Group.png");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-color: #1c1a19;
  height: 652px;
  margin-bottom: 0%;
}

.aboutme > *{
  margin-left: 24px;
}

.aboutme h2 {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-size: 72px;
  padding-top: 120px;
  font-weight: normal;
}

.aboutme p {
  color: #f4f5f7;
  font-family: 'Inter', sans-serif;
  margin-bottom: 24px;
}

 #second-hr {
  color: white;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 137px;
}

/*--------HERE IS THE LIST OF LANGUAGES--------*/

.list {
  background-color: #1c1a19;
  padding-bottom: 131px;
}

.list ul {
  text-align: center;
  list-style: none;
}

.list ul li {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 44px;
}

.listsub {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 22px;
  color: white;
  margin-bottom: 44px;
}

/*-----HERE IS THE CONTACT FORM------------*/

form {
  border-bottom: 1px solid #dfe1e6;
  padding-bottom: 124px;
}

.contact-form {
  background-color: white;
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;
}

.contact-form h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  padding-top: 120px;
}

.contact-form form,
.contact-form form > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.contact-form form > * {
  border: none;
  padding: 0;
  width: 100%;
}

#full-name,
#email,
#message {
  width: 327px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  padding: 15px 16px;
  margin: 0 24px;
}

#message {
  padding: 12px;
  height: 114px;
  background-color: #fbf8f7;
}

.contact-form .contact-me {
  padding: 12px;
  margin: 0;
  width: 131px;
}

.contact-form hr {
  height: 5px;
  width: 134px;
  top: 21px;
  border-radius: 10px;
  background: #0d151e;
  margin-left: 41%;
}

#Social-f{
  margin-bottom: 23px;
}

#Social-f {
 margin: auto;
}

footer {
  padding-bottom: 0.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
